<!DOCTYPE html>
<html>
<body>

  <h2>3x3 Markov chain Matrix Entry Form</h2>

<form action="{{ url_for('calc3') }}">
  <label for="fname">First row:</label><br>
  <input type="text" id="fname" name="row1" value=""><br>
  <label for="lname">Second row:</label><br>
  <input type="text" id="lname" name="row2" value=""><br><br>
  <label for="lname">Third row:</label><br>
  <input type="text" id="lname" name="row3" value=""><br><br>
  <label for="lname">Time period:</label><br>
  <input type="text" id="lname" name="period" value="" style="width: 400px;"><br><br>
  <input type="submit" value="Submit">

</form> 


</body>
</html>

